@import "tailwindcss";

/* Root CSS Variables */
:root {
  --black: #111111;
  --white: #e8e9f3;
  --accent: #eb1043;
}

/* Tailwind-aware Theme Tokens */
@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
  --color-accent: var(--accent);

  --font-sans: var(--font-roboto-condensed);
  --font-serif: var(--font-domine);
  --font-strong: var(--font-bebas);
}

/* Global Base Styles */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-roboto-condensed);
  overscroll-behavior: none;
}

button {
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}

@media (pointer: fine) {
  button:hover {
    background-color: var(--accent);
  }
}

button:active {
  transform: scale(0.96);
  background-color: var(--accent);
}

/* Keyframe Animations */
@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

/* Animation Utility Classes */
.animate-fade-in {
  animation: fade-in 0.5s;
}
