@import "tailwindcss";

:root {
  --black: #111111;
  --white: #e8e9f3;
  --accent: #eb1043;
}

/* Tailwind-aware theme tokens */
@theme inline {
  --color-background: var(--black);
  --color-foreground: var(--white);
  --color-accent: var(--accent);

  --font-sans: var(--font-roboto-condensed);
  --font-serif: var(--font-domine);
  --font-strong: var(--font-bebas);
}

/* Global application styles */
body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-roboto-condensed);
}

button {
  cursor: pointer;
}

@keyframes fade-in {
  from {
    opacity: 0;
    filter: blur(1rem);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.animate-fade-in {
  animation: fade-in 3s;
}
